#bg {
    background-image: url('https://wallpapercave.com/wp/wp6241812.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

@media (min-width: 640px) {
    #bg {
        height: auto;
    }
}

#result {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    word-wrap: break-word;
}
